<head>

<h2>After Login Page</h2
{{#if user}}

<div>
  <p>Hello {{user.username}}</p>
</div>

<h1>{{user.created_at}}</h1>

<div>
  <p>The Pollen Forcast for today is {{user.userpollens}}:</p>
</div>

{{#each pollens}}
<h3>The Pollen Forcast for: {{region}}</h3>
<h3>Today's Graeser score: {{pollen.Graeser.today}} </h3>
<h3>Today's Ambrosia score: {{pollen.Ambrosia.today}} </h3>
{{/each}}


<div>
  <p>The Pollen Forcast for tommorow is :</p>
</div>

<div id="partregion_name"></div>
<div id="region_name"></div>
<div id="region_id"></div>
<input id="location" type="hidden" value="0">
<script src="/javascripts/pollen-data.js"></script>

<h1>This is the fun</h1>

<h2>your results have been recorded</h2>

<a href="/party">check here to see your alergy results</a>


<div>
  <a href="/history">View your last 5 entires</a>
</div>
<br>

<div>
  <a href="/logout">Logout</a>
</div>
{{/if}}